.work-item-create-container {
  width: 500px;
  h6 {
    margin: 0px;
  }
  .form-group {
    margin: 10px 0px;
    display: flex;
    flex-flow: column;
  }

  nb-select {
    max-width: 100%;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;

    button {
      margin-right: 5px;
    }
  }
}